@{
    ViewBag.Title = "Forgot Password Confirmation";
}


<div class="page h-100">
    <div class="main-error-wrapper">
        <h1 style="font-size:50px;">@ViewBag.Title.</h1>
        <h2> Please check your email to reset your password. </h2>
    </div>
</div>
