
@{
    ViewBag.Title = "Candidate";
}


<!--Main Content Header-->
<div class="main-content-header container-fluid p-4">
    <div>
        <h6 class="main-content-title tx-18 mg-b-5 mg-t-7">Candidate List</h6>
    </div>
    <div class="btn-list">
        <a id="BtnRefresh" class="btn btn-rounded btn-success"><i class="fe fe-plus-circle mr-2"></i>Refresh</a>
        <a href='/JobSeeker/AddEdit?Id=0' class="btn btn-rounded btn-primary"><i class="fe fe-plus-circle mr-2"></i>Add</a>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card mg-b-20">
                <div class="card-body" style="overflow:auto">
                    <div class="table-responsive">
                        <table id="TblJobSeeker" class="table nowrap text-md-nowrap" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Contact Number</th>
                                    <th>Current Address</th>
                                    <th>Skills</th>
                                    <th>DegreeName</th>
                                    <th>PostDegreeName</th>
                                    <th>Experience</th>
                                    <th>PreferredLocation</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(function () {
            jobSeekerIndex.init();
        });
    </script>
}
