@model RojgarMantra.Core.Models.JobCategoryAddEditModel

<form id="FrmJobAddEdit">

    <div class="box">
        <div class="box-body">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            <div class="form-group">
                <label>Name*</label>
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @type = "text" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="box-footer text-right">
            <input type="button" id="BtnSave" class="btn btn-warning" value="Save" />
        </div>
    </div>
</form>
<script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.js"></script>
<script>
    $(function () {
        jobAddEdit.init();
    });
</script>
