  <!--Main Content Header-->
<div class="main-content-header container-fluid p-4">
    <div>
        <h6 class="main-content-title tx-18 mg-b-5 mg-t-7">Welcome to Dashboard</h6>
    </div>
    <div class="btn-list">
        <a href="#" class="btn btn-rounded btn-primary"><i class="fe fe-plus-circle mr-2"></i>Create New</a>
        <a href="#" class="btn btn-rounded btn-outline-primary dropdown-toggle" data-toggle="dropdown">
            <i class="fe fe-download mr-2"></i>Download<span class="caret"></span>
        </a>
        <div class="dropdown-menu" role="menu">
            <a class="dropdown-item" href="#"><i class="fe fe-mail mr-2"></i>Email</a>
            <a class="dropdown-item" href="#"><i class="fe fe-printer mr-2"></i>Print</a>
            <a class="dropdown-item" href="#"><i class="fe fe-copy mr-2"></i>Copy</a>
            <a class="dropdown-item" href="#"><i class="fe fe-edit mr-2"></i>Edit</a>
        </div>
    </div>
</div>
<!--Main Content Header-->
<!--Row-->
<div class="row row-sm">
    <div class="col-xl-3 col-lg-6">
        <div class="card mg-b-20 overflow-hidden">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col">
                        <p class="mb-1">Total Purchase</p>
                        <h2 class="">$5,383</h2>
                    </div>
                    <div class="col col-auto feature">
                        <div class="fa-stack fa-lg fa-1x feature-icon bg-primary-transparent">
                            <i class="fe fe-shopping-bag tx-20 text-primary"></i>
                        </div>
                    </div>
                </div>
                <div class="expansion-value d-flex">
                    <strong class="tx-13"><i class="fas fa-caret-down mr-1 text-danger"></i> 18%</strong>
                    <strong class="ml-auto tx-13"><i class="fas fa-caret-up mr-1 text-success"></i>22%</strong>
                </div>
                <div class="expansion-label d-flex">
                    <span class="text-muted tx-12">This Month</span>
                    <span class="text-muted ml-auto tx-12">Last Month</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card mg-b-20 overflow-hidden">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col">
                        <p class="mb-1">Total Orders</p>
                        <h2 class="">65,457</h2>
                    </div>
                    <div class="col col-auto feature">
                        <div class="fa-stack fa-lg fa-1x feature-icon bg-success-transparent">
                            <i class="fe fe-shopping-cart tx-18 text-success"></i>
                        </div>
                    </div>
                </div>
                <div class="expansion-value d-flex">
                    <strong class="tx-13"><i class="fas fa-caret-up mr-1 text-success"></i> 13%</strong>
                    <strong class="ml-auto tx-13"><i class="fas fa-caret-down mr-1 text-danger"></i>08%</strong>
                </div>
                <div class="expansion-label d-flex">
                    <span class="text-muted tx-12">This Month</span>
                    <span class="text-muted ml-auto tx-12">Last Month</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card mg-b-20 overflow-hidden">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col">
                        <p class="mb-1">Total Profit</p>
                        <h2 class="">$7,129</h2>
                    </div>
                    <div class="col col-auto feature">
                        <div class="fa-stack fa-lg fa-1x feature-icon bg-info-transparent">
                            <i class="fe fe-dollar-sign tx-18 text-info"></i>
                        </div>
                    </div>
                </div>
                <div class="expansion-value d-flex">
                    <strong class="tx-13"><i class="fas fa-caret-down mr-1 text-danger"></i> 12%</strong>
                    <strong class="ml-auto tx-13"><i class="fas fa-caret-up mr-1 text-success"></i>15%</strong>
                </div>
                <div class="expansion-label d-flex">
                    <span class="text-muted tx-12">This Month</span>
                    <span class="text-muted ml-auto tx-12">Last Month</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card mg-b-20 overflow-hidden">
            <div class="card-body iconfont">
                <div class="row mb-2">
                    <div class="col">
                        <p class="mb-1">Customers</p>
                        <h2 class="">45,896</h2>
                    </div>
                    <div class="col col-auto feature">
                        <div class="fa-stack fa-lg fa-1x feature-icon bg-danger-transparent">
                            <i class="fe fe-user tx-18 text-danger"></i>
                        </div>
                    </div>
                </div>
                <div class="expansion-value d-flex">
                    <strong class="tx-13"><i class="fas fa-caret-down mr-1 text-success"></i> 14%</strong>
                    <strong class="ml-auto tx-13"><i class="fas fa-caret-down mr-1 text-danger"></i>11%</strong>
                </div>
                <div class="expansion-label d-flex">
                    <span class="text-muted tx-12">This Month</span>
                    <span class="text-muted ml-auto tx-12">Last Month</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/Row-->
<!--Row-->
<div class="row row-sm">
    <div class="col-lg-12">
        <div class="card mg-b-20 overflow-hidden card--twelve">
            <div class="card-body">
                <div class="card-header pt-0 pl-0 pr-0">
                    <div>
                        <label class="main-content-label mb-1">Sales Overview</label>
                        <span class="d-block text-muted">Sales Performance for Online and Offline </span>
                    </div>
                    <div class="card-option ml-auto d-none d-md-flex">
                        <div class="btns">
                            <a class="" href=""><span>Week</span></a>
                            <a class="active" href=""><span>Month</span></a>
                            <a class="" href=""><span>Year</span></a>
                        </div>
                    </div>
                </div>
                <div class="row sales-overview">
                    <div class="col-xl-8 col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 media">
                                <div class="media-body mb-3 mb-lg-0">
                                    <label>Total Sales</label>
                                    <h4>13,789</h4><span><strong><i class="fas fa-caret-up mr-1 text-success"></i> 15%</strong> than last month</span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 media">
                                <div class="media-body mb-3 mb-lg-0">
                                    <label>Total Revenue</label>
                                    <h4><span>$</span>29,458</h4><span><strong><i class="fas fa-caret-down mr-1 text-danger"></i>85%</strong> than last month</span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 media">
                                <div class="media-body">
                                    <label>Total Orders</label>
                                    <h4>35,458</h4><span><strong><i class="fas fa-caret-up mr-1 text-success"></i>45%</strong> than last month.</span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 media">
                                <div class="media-body">
                                    <label>Total Profit</label>
                                    <h4><span>$</span>5,789</h4><span><strong><i class="fas fa-caret-down mr-1 text-danger"></i>15%</strong> than last month.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chart-wrapper">
                    <div class="flot-chart ht-400" id="flotChart"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/Row-->
<!--Row-->
<div class="row row-sm">
    <div class="col-lg-6 col-xl-4">
        <div class="card mg-b-20">
            <div class="card-body p-0">
                <div class="pd-30">
                    <div class="main-content-label mb-1">Recent Tasks</div>
                    <p class="mb-0 text-muted">Nemo enim ipsam voluptatem fugit sequi nesciunt.</p>
                </div>
                <div class="d-flex py-3 pd-l-30 pd-r-30 border-top">
                    <label class="ckbox"><input checked="" type="checkbox"><span>Do something more</span></label>
                    <span class="ml-auto">
                        <i class="si si-pencil text-primary mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Edit"></i>
                        <i class="si si-trash text-danger mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"></i>
                    </span>
                </div>
                <div class="d-flex py-3 pd-l-30 pd-r-30 border-top">
                    <label class="ckbox"><input checked="" type="checkbox"><span>Update More More Files</span></label>
                    <span class="ml-auto">
                        <i class="si si-pencil text-primary mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Edit"></i>
                        <i class="si si-trash text-danger mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"></i>
                    </span>
                </div>
                <div class="d-flex py-3 pd-l-30 pd-r-30 border-top">
                    <label class="ckbox"><input type="checkbox"><span>Complete Projects</span></label>
                    <span class="ml-auto">
                        <i class="si si-pencil text-primary mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Edit"></i>
                        <i class="si si-trash text-danger mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"></i>
                    </span>
                </div>
                <div class="d-flex py-3 pd-l-30 pd-r-30 border-top">
                    <label class="ckbox"><input type="checkbox"><span>Finish Something</span></label>
                    <span class="ml-auto">
                        <i class="si si-pencil text-primary mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Edit"></i>
                        <i class="si si-trash text-danger mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"></i>
                    </span>
                </div>
                <div class="d-flex py-3 pd-l-30 pd-r-30 border-top">
                    <label class="ckbox"><input type="checkbox"><span>Update New Projects</span></label>
                    <span class="ml-auto">
                        <i class="si si-pencil text-primary mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Edit"></i>
                        <i class="si si-trash text-danger mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"></i>
                    </span>
                </div>
                <div class="d-flex py-3 pd-l-30 pd-r-30 border-top">
                    <label class="ckbox"><input type="checkbox"><span>Add New Projects</span></label>
                    <span class="ml-auto">
                        <i class="si si-pencil text-primary mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Edit"></i>
                        <i class="si si-trash text-danger mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"></i>
                    </span>
                </div>
                <div class="d-flex py-3 pd-l-30 pd-r-30 border-top">
                    <label class="ckbox"><input type="checkbox"><span>Add New Projects</span></label>
                    <span class="ml-auto">
                        <i class="si si-pencil text-primary mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Edit"></i>
                        <i class="si si-trash text-danger mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-4">
        <div class="card mg-b-20 overflow-hidden">
            <div class="card-body p-0">
                <div class="pd-30 border-bottom">
                    <div class="main-content-label mb-1">Users Feedbacks</div>
                    <p class="mg-b-0 text-muted">Nemo enim ipsam voluptatem fugit sequi nesciunt.</p>
                </div>
                <div class="user-manager users-scroll">
                    <div class="table-responsive">
                        <table class="table mg-b-0 text-nowrap">
                            <tbody>
                                <tr>
                                    <td class="bd-t-0">
                                        <div class="d-flex">
                                            <img alt="avatar" src="~/Content/Images/users/female/2.jpg" class="main-img-user mr-3">
                                            <div>
                                                <h6 class="mg-b-0 tx-14">Socrates Itumay</h6>
                                                <small class="tx-12 tx-gray-500">Socrates@gmail.com</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="bd-t-0">
                                        <small class="text-muted ml-md-auto tx-13"><i class="fe fe-calendar mr-1"></i> 28 Oct 2019</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex">
                                            <img alt="avatar" src="~/Content/Images/users/female/3.jpg" class="main-img-user mr-3">
                                            <div>
                                                <h6 class="mg-b-0 tx-14">Reynante Labares</h6>
                                                <small class="tx-12 tx-gray-500">Reynante@gmail.com</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <small class="text-muted ml-md-auto tx-13"><i class="fe fe-calendar mr-1"></i> 4 Oct 2019</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex">
                                            <img alt="avatar" src="~/Content/Images/users/male/4.jpg" class="main-img-user mr-3">
                                            <div>
                                                <h6 class="mg-b-0 tx-14">Owen Bongcaras</h6>
                                                <small class="tx-12 tx-gray-500">Owen@gmail.com</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <small class="text-muted ml-md-auto tx-13"><i class="fe fe-calendar mr-1"></i> 11 Oct 2019</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex">
                                            <img alt="avatar" src="~/Content/Images/users/female/5.jpg" class="main-img-user mr-3">
                                            <div>
                                                <h6 class="mg-b-0 tx-14">Mariane Galeon</h6>
                                                <small class="tx-12 tx-gray-500">Mariane@gmail.com</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <small class="text-muted ml-md-auto tx-13"><i class="fe fe-calendar mr-1"></i> 2 Oct 2019</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex">
                                            <img alt="avatar" src="~/Content/Images/users/male/6.jpg" class="main-img-user mr-3">
                                            <div>
                                                <h6 class="mg-b-0 tx-14">Joyce Chua</h6>
                                                <small class="tx-12 tx-gray-500">Joyce@gmail.com</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <small class="text-muted ml-md-auto tx-13"><i class="fe fe-calendar mr-1"></i> 9 Oct 2019</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex">
                                            <img alt="avatar" src="~/Content/Images/users/male/7.jpg" class="main-img-user mr-3">
                                            <div>
                                                <h6 class="mg-b-0 tx-14">Sonia Fraser</h6>
                                                <small class="tx-12 tx-gray-500">Sonia@gmail.com</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <small class="text-muted ml-md-auto tx-13"><i class="fe fe-calendar mr-1"></i> 21 Oct 2019</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex">
                                            <img alt="avatar" src="~/Content/Images/users/female/3.jpg" class="main-img-user mr-3">
                                            <div>
                                                <h6 class="mg-b-0 tx-14">Reynante Labares</h6>
                                                <small class="tx-12 tx-gray-500">Reynante@gmail.com</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <small class="text-muted ml-md-auto tx-13"><i class="fe fe-calendar mr-1"></i> 4 Oct 2019</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex">
                                            <img alt="avatar" src="~/Content/Images/users/male/4.jpg" class="main-img-user mr-3">
                                            <div>
                                                <h6 class="mg-b-0 tx-14">Owen Bongcaras</h6>
                                                <small class="tx-12 tx-gray-500">Owen@gmail.com</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <small class="text-muted ml-md-auto tx-13"><i class="fe fe-calendar mr-1"></i> 11 Oct 2019</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex">
                                            <img alt="avatar" src="~/Content/Images/users/female/5.jpg" class="main-img-user mr-3">
                                            <div>
                                                <h6 class="mg-b-0 tx-14">Mariane Galeon</h6>
                                                <small class="tx-12 tx-gray-500">Mariane@gmail.com</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <small class="text-muted ml-md-auto tx-13"><i class="fe fe-calendar mr-1"></i> 2 Oct 2019</small>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-xl-4">
        <div class="card mg-b-20">
            <div class="card-body p-0">
                <div class="pd-30 border-bottom">
                    <div class="main-content-label mb-1">Latest Updates</div>
                    <p class="mg-b-0 text-muted">Sales Performance for Online and Offline.</p>
                </div>
                <div class="product-timeline card-body">
                    <ul class="timeline-1 mb-0">
                        <li class="mt-0">
                            <i class="ti-pie-chart bg-primary-gradient text-white product-icon"></i>
                            <span class="font-weight-semibold mb-4 tx-16">Total Products</span>
                            <a href="#" class="float-right tx-11 text-muted">3 days ago</a>
                            <p class="mb-0 text-muted tx-12">1.3k New Products</p>
                        </li>
                        <li class="mt-0">
                            <i class="mdi mdi-cart-outline bg-primary-gradient text-white product-icon"></i>
                            <span class="font-weight-semibold mb-4 tx-16">Total Sales</span>
                            <a href="#" class="float-right tx-11 text-muted">35 mins ago</a>
                            <p class="mb-0 text-muted tx-12">1k New Sales</p>
                        </li>
                        <li class="mt-0">
                            <i class="ti-bar-chart-alt bg-primary-gradient text-white product-icon"></i>
                            <span class="font-weight-semibold mb-4 tx-16">Toatal Revenue</span>
                            <a href="#" class="float-right tx-11 text-muted">50 mins ago</a>
                            <p class="mb-0 text-muted tx-12">23.5K New Revenue</p>
                        </li>
                        <li class="mt-0">
                            <i class="ti-wallet bg-primary-gradient text-white product-icon"></i>
                            <span class="font-weight-semibold mb-4 tx-16">Toatal Profit</span>
                            <a href="#" class="float-right tx-11 text-muted">1 hour ago</a>
                            <p class="mb-0 text-muted tx-12">3k New profit</p>
                        </li>
                        <li class="mt-0 mb-0">
                            <i class="si si-eye bg-primary-gradient text-white product-icon"></i>
                            <span class="font-weight-semibold mb-4 tx-16">Customer Visits</span>
                            <a href="#" class="float-right tx-11 text-muted">1 day ago</a>
                            <p class="mb-0 text-muted tx-12">15% increased</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/Row-->
<!-- Row-->
<div class="row row-sm">
    <div class="col-lg-6 col-xl-7">
        <div class="card mg-b-20 mg-lg-b-0">
            <div class="card-body">
                <label class="main-content-label mb-1">Your Most Recent Earnings</label>
                <span class="d-block mg-b-10 text-muted">This is your most recent earnings for today's date.</span>
                <div class="table-responsive">
                    <table class="table table-striped mb-0 text-nowrap">
                        <thead>
                            <tr>
                                <th class="wd-lg-25p">Date</th>
                                <th class="wd-lg-25p tx-right">Sales Count</th>
                                <th class="wd-lg-25p tx-right">Earnings</th>
                                <th class="wd-lg-25p tx-right">Tax Witheld</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>05 Oct 2018</td>
                                <td class="tx-right tx-medium tx-inverse">25</td>
                                <td class="tx-right tx-medium tx-inverse">$380.50</td>
                                <td class="tx-right tx-medium tx-danger">-$23.50</td>
                            </tr>
                            <tr>
                                <td>04 Oct 2018</td>
                                <td class="tx-right tx-medium tx-inverse">34</td>
                                <td class="tx-right tx-medium tx-inverse">$503.20</td>
                                <td class="tx-right tx-medium tx-danger">-$13.45</td>
                            </tr>
                            <tr>
                                <td>03 Oct 2018</td>
                                <td class="tx-right tx-medium tx-inverse">30</td>
                                <td class="tx-right tx-medium tx-inverse">$489.65</td>
                                <td class="tx-right tx-medium tx-danger">-$20.98</td>
                            </tr>
                            <tr>
                                <td>02 Oct 2018</td>
                                <td class="tx-right tx-medium tx-inverse">27</td>
                                <td class="tx-right tx-medium tx-inverse">$421.80</td>
                                <td class="tx-right tx-medium tx-danger">-$22.22</td>
                            </tr>
                            <tr>
                                <td>01 Oct 2018</td>
                                <td class="tx-right tx-medium tx-inverse">31</td>
                                <td class="tx-right tx-medium tx-inverse">$518.60</td>
                                <td class="tx-right tx-medium tx-danger">-$23.01</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-5">
        <div class="card card-dashboard-eight">
            <label class="main-content-label mb-1">Your Top Countries</label>
            <span class="d-block mg-b-20 text-muted">Sales performance revenue based by country</span>
            <div class="list-group">
                <div class="list-group-item">
                    <i class="flag-icon flag-icon-us flag-icon-squared"></i>
                    <p>United States</p><span>$1,671.10</span>
                </div>
                <div class="list-group-item">
                    <i class="flag-icon flag-icon-nl flag-icon-squared"></i>
                    <p>Netherlands</p><span>$1,064.75</span>
                </div>
                <div class="list-group-item">
                    <i class="flag-icon flag-icon-gb flag-icon-squared"></i>
                    <p>United Kingdom</p><span>$1,055.98</span>
                </div>
                <div class="list-group-item">
                    <i class="flag-icon flag-icon-ca flag-icon-squared"></i>
                    <p>Canada</p><span>$1,045.49</span>
                </div>
                <div class="list-group-item">
                    <i class="flag-icon flag-icon-au flag-icon-squared"></i>
                    <p>Australia</p><span>$1,042.00</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->
@section scripts{

    <!-- index js -->
    <script src="~/Scripts/index.js"></script>
} 